# Compiled object files
*.o

# Compiled dynamic libraries
*.so

# Compiled static libraries
*.a

# Executable files
RayMaze

# Temporary files
*~

# Debug files
*.log

# SDL2 specific
sdl2-config

# Directories
/build/
